* {
    padding: 0;
    margin: 0;
    font-family: 'Philosopher';
    /* font-family: 'Poppins', sans-serif; */
    box-sizing: border-box;
}

body {
    background-image: url(/img/banner_bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
    /* height: 100vh; */
}

.my-nav {
    background: #1c1832;
    width: 100%;
    /* margin: auto; */
    padding: 12px 0px;
    margin-top: 40px;
    border-radius: 7px;
}

.my-ul {
    color: whitesmoke !important;
    display: flex;
    list-style-type: none;
    letter-spacing: 1px;
    font-size: 20px;
}

.my-ul>li {
    font-family: 'Poppins', sans-serif !important;
    margin-left: 20px;
}

.my-ul>li:hover {
    color: red;
}

.my-icon {
    background-color: #fff;
}

.searchbar .input-group {
    width: 85%;
    border-radius: 6px !important;
    font-size: 14px;
    margin: 0px 50px;
    padding: 3px 10px;
    background-color: #131129;
    border: 1px dashed #322C50;
}

.searchbar .form-control {
    color: #fff;
    font-family: Poppins-Light;
    font-size: 14px;

}

.searchbar input::placeholder {
    color: #D4CDCD;
    font-family: Poppins-Light;
    font-size: 15px;
}

.searchbar .input-group svg {
    transform: rotate(94deg);
}

.searchbar .input-group input,
.searchbar .btn {
    background-color: transparent;
    border: none;
}

input:focus,
.btn:focus {
    box-shadow: none !important;
}

.text_area {
    /* background-color: aqua; */
    width: 100%;
}

.text_area>h1 {
    font-size: 4vmax;
    color: #fff;
    width: 50%;
    /* margin-left: 4vw; */
    margin-top: 100px;
    font-weight: bold;
}

.text_area>h1>span {
    color: #e039fd;
}

.text_area>p {
    font-size: 1.3vmax;
    color: #fff;
    width: 40%;
    /* margin-left: 4vw; */
    margin-top: 20px;
}

.button-started a {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    background: transparent;
    padding: 18px 0px;
    transition: .3s linear;
    color: #fff;
    line-height: 1;
    text-decoration: none;
    /* margin-left: 4vw; */
}

.button-started a i {
    margin: 11px;
}

.button-started a::after {
    content: "";
    position: absolute;
    left: -6%;
    top: 14%;
    width: 51px;
    height: 51px;
    z-index: -1;
    border-radius: 30px;
    transition: .3s linear;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    background-image: linear-gradient(79deg, rgba(99, 69, 237, 1) 0%, rgba(224, 57, 253, 1) 100%);
}

.heading-mean>h2 {
    color: #ffffff;
    font-weight: bold;
    margin-top: 15vh;
    margin-bottom: 20px;
    font-size: 4vmax;
}

.box {
    display: flex;
    align-items: center;
    border-radius: 15px;
    border: 3px solid #e039fd61;
    background-color: #1D1933;
    padding: 0px 20px;
    transition: .5s ease-in-out;
    margin-bottom: 30px;
}

.box:hover {
    border: 3px solid #E039FD;
    transition: .5s ease-in-out;
}

.img_wrapper {
    margin-right: 20px;
    width: 30%;
}

.title_heading {
    width: 70%;
    margin-top: 36px;
}

.box img {
    width: 80px;
    height: 80px;
    border-radius: 60%;
}

.buttons ul {
    padding: 0;
}

.buttons ul li {
    display: inline-block;
    margin-right: 10px;
}

.title_heading h5 a {
    font-size: 18px;
    margin-bottom: 3px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
    font-family: 'Poppins-Light';
}

.title_heading p {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    color: #fff;
}

.title_heading p span {
    color: #E039FD;
}

.buttons ul li a {
    display: block;
    width: 28px;
    height: 28px;
    border: 1px solid;
    text-align: center;
    border: 1px solid #2A2547;
    transition: .5s ease-in-out;

}

.buttons ul li a i {
    font-size: 10px;
    color: #59606B;
}

.buttons ul li a:hover {
    border-color: #e039fdd2;
    transition: .5s ease-in-out;

}

.buttons ul li a:hover i {
    color: #E039FD;
    transition: .5s ease-in-out;
}

.div1 {
    /* display: flex; */
    /* width: 260px; */
    /* max-height: 450px; */
    border: 5px solid #e039fd61;
    border-radius: 10px;
    /* cursor: pointer; */
    transition: .5s ease-in-out;
    background-color: #1d1933;
}

.div1:hover {
    border-color: #d900ff;
    transition: .5s ease-in-out;
}

.div {
    display: flex;
}

.div2 {

    width: 80%;
    margin-top: 5px;
    display: flex;
}

.div2 img {
    width: 35px;
    height: 30px;
    border-radius: 50px;
    /* margin-top: 10px; */
    margin-left: 5px;
    cursor: pointer;
}

.div3>p {
    color: #fff;
    font-size: 20px;
    margin-left: 10px;
}

.div3>p>a {
    text-decoration: none;
    color: #E039FD;
}

.my-icon1 {
    color: #fff;
    font-size: 20px;
    margin-top: 14px;
    cursor: pointer;
}

.div4 {
    display: flex;
    justify-content: center;
}

.div4 img {
    width: 90%;
    border-radius: 10px;
}

.div5 {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.div5 a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.div5 span {
    font-size: 18px;
    color: #E039FD;
    font-weight: bold;
}

.div6 {
    margin: auto;
    width: 90%;
    height: 1px;
    background: #f09aff;
    margin-top: 15px;
}

.div7 i {
    color: #322C50;
    margin-left: 14px;
}

.div7 {
    margin-top: 10px;
}

.div7 i:hover {
    cursor: pointer;
    color: #E039FD;
}

.div7 span {
    color: #fff;
    font-weight: bold;
}

.div-mean {
    /* display: flex; */
    width: 370px;
    max-height: 450px;
    border: 5px solid #e039fd61;
    border-radius: 10px;
    /* cursor: pointer; */
    transition: .5s ease-in-out;
    background-color: #1d1933;
}

.div-mean:hover {
    border-color: #d900ff;
    transition: .5s ease-in-out;
}

.div8 {
    display: flex;
}

.div11 {
    margin-left: 10px;
}

.div12 {
    position: relative;
    left: -165px;
    top: 90px;
}

.card {
    background-color: #1d1933;
    border: 3px solid #e039fd61;
    border-radius: 20px;
    transition: .5s ease-in-out;
}

.card:hover {
    border-color: #d900ff;
    transition: .5s ease-in-out;
}

.card-img-top {
    width: 90px;
    height: 80px;
    position: relative;
    left: 200px;
    top: -25px;
}

.card-body h5 {
    font-size: 18px;
    color: #001eff;
    position: relative;
    top: -70px;
}

.card-body h4 {
    color: #D4CDCD;
    position: relative;
    top: -40px;
}

.card-text {
    color: #D4CDCD;
    position: relative;
    top: -30px;
}

.mean-2 {
    margin-bottom: 20px;
}

.mean-3 {
    display: flex;
}

.card-1 {
    position: relative;
    top: -250px;
    left: 2px;
    width: 370px;
    height: 220px;
    padding: 0px 10px;
    background-color: #1d1933;
    border: 3px solid #e039fd61;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.card-1:hover {
    border-color: #d900ff;
    transition: .5s ease-in-out;
}

.top-info ul li {
    list-style-type: none;
    margin-left: 20px;
    margin-top: 5px;
    display: inline-block;
}

.top-info ul li span {
    color: #D4CDCD;
    font-size: 20px;
    margin-left: 6px;
}

.top-info ul li span i {
    color: #59606b;
}

.heading-news h4 {
    font-size: 20px;
}

.heading-news h4 a {
    text-decoration: none;
    color: #D4CDCD;
}

.div15 {
    width: 90%;
    height: 1px;
    margin: auto;
    background-color: #59606b;
    margin-bottom: 20px;
}

.wallet .btn {
    position: relative;
    top: 20px;
    color: #fff;
    font-size: 16px;
    padding: 10px 10px;
    border: 1px solid;
    width: 45%;
    border-radius: 35px;
    background-image: linear-gradient(79deg, rgba(99, 69, 237, 1) 0%, rgba(224, 57, 253, 1) 100%);
    text-transform: uppercase;
}

.wallet>.btn::before {
    content: "";
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 4px;
    top: 4px;
    border: 1.5px dashed #fff;
    border-radius: 30px;
}

.div-img img {
    width: 375px;
}

.card-2 {
    position: relative;
    top: -150px;
    /* left: 13px; */
    width: 280px !important;
    height: 220px;
    padding: 0px 10px;
    background-color: #1d1933;
    border: 3px solid #e039fd61;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.card-2:hover {
    border-color: #d900ff;
    transition: .5s ease-in-out;
}

.div-icon {
    width: 60px;
    height: 60px;
    border-radius: 50px;
    background-image: linear-gradient(79deg, rgba(99, 69, 237, 1) 0%, rgba(224, 57, 253, 1) 100%);
    text-transform: uppercase;
    position: relative;
    left: 30px;
    top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-icon i {
    color: #D4CDCD;
    font-size: 40px;
}

.card-body-1 {
    color: #D4CDCD;
    position: relative;
    left: 30px;
    top: 50px;
}

.card-body-1 h4 {
    font-weight: bold;
    font-size: 30px;
}

.card-text-1 {
    color: #D4CDCD;
    font-size: 20px;
}

/* boody work end */

/* footer work start */

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #1c1832;
    /* width: 100%; */
    border-radius: 7px;
}

.footer-cont {
    margin-top: 60px;
}

.about {
    color: #D4CDCD;
    margin-top: 5px;
}

.social-icons ul {
    list-style-type: none;
    margin-left: -2.5vw;
}

.social-icons ul li {
    display: inline-block;
    margin-left: 10px;
    background-color: #D4CDCD;
    padding: 5px 10px;
    background-color: #1d1933;
    border: 3px solid #e039fd61;
    border-radius: 10px;
    transition: .5s ease-in-out;
}

.social-icons ul li:hover {
    background-color: #d900ff;
    transition: .5s ease-in-out;
}

.social-icons ul li i {
    color: #D4CDCD;
    font-size: 20px;
}

.heading-footer h3 {
    color: #D4CDCD;
}

.list ul {
    margin-top: 20px;
}

.list ul li {
    list-style-type: none;
}

.list ul li a {
    color: #D4CDCD;
    text-decoration: none;
    margin-top: 10px;
    letter-spacing: 1px;
    transition: .2s ease-in-out;
}

.list ul li a:hover {
    color: #d900ff;
}

.subscribe_form input.form-control {
    width: 100%;
    color: #fff;
    font-size: 18px;
    border-radius: 4px;
    padding: 14px 70px 14px 20px;
    height: 50px;
    font-weight: 500;
    background-color: #1D1933;
    border: 2px solid #e039fd61;
}

.subscribe_form .btn {
    height: 50px;
    border: none;
    width: 55px;
    margin-left: -5px;
    font-size: 25px;
    color: #fff;
    border-radius: 0px 4px 4px 0px;
    background-image: linear-gradient(79deg, rgba(99, 69, 237, 1) 0%, rgba(224, 57, 253, 1) 100%);
    ;
}

.subscribe_form .input_group {
    display: flex;
}
.made{
    font-size: 5vw;
    background-color: #D4CDCD;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* THe :end */




















































@media only screen and (max-width:1200px) {
    .div4 img {
        width: 50%;
    }

    .div1 {
        margin-bottom: 10px;
    }

    .div-mean {
        margin-bottom: 15px;
    }

    .wrapp-1 {
        margin-top: -190px !important;
    }

}











@media only screen and (max-width:992px) {
    body {
        background-position: center !important;
    }

    .my-ul {
        display: block;
        line-height: 35px;
        margin-top: 20px;
        text-decoration: underline;
    }

    .input-group {
        margin: 0px !important;
    }

    .text_area>h1 {
        width: 70%;
        font-size: 6vw;
        margin-top: 50px;
    }

    .text_area>p {
        width: 80%;
        font-size: 2.5vw;
    }

    .text_area {
        width: 100%;
    }

    .div-mean {
        margin-bottom: 15px;
    }

    .wrapp {
        margin-top: -190px !important;
    }
}

@media only screen and (max-width:768px) {
    .searchbar {
        display: none;
    }

    .text_area>h1 {
        width: 80%;
        font-size: 3.5vmax;
        margin-top: 30px;
    }

    .text_area>p {
        width: 80%;
        font-size: 2vmax;
        margin-top: 5px;
    }

    .text_area {
        width: 100%;
    }

    .div5 a {
        font-size: 1em;
    }

    .div-mean {
        margin-bottom: 10px;
    }


}

@media only screen and (max-width:426px) {
    body {
        background-image: url(/img/bg.png);
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }


}


@media only screen and (max-width:375px) {
    .mean-2 {
        margin-left: 2vw;
    }

    .my-icon3 {
        margin-left: 5vw;
    }

    .my-icon2 {
        margin-left: 3vw;
    }

    .div-mean0 {
        margin-left: 0vw;
    }

}

@media only screen and (max-width:330px) {
    .mean-2 {
        margin-left: 10vw !important;
    }

    .my-icon2 {
        margin-left: 10vw;
    }

    .my-icon3 {
        margin-left: 15vw;
    }
}